body{
    background-color: black;
}
.container {
    max-width: 1600px;
    height: 400px;
    margin: 0 auto; /* Centra el contenedor */
  }
  
  .container img {
    width: 100%;
    height: auto;
  }

  .texto
  {
    color: white;
    margin-top: 100px;
    text-align: center;
  }
  form{
    margin-top: 50px;
    text-align: center;
  }